@tailwind base;
@tailwind components;
@tailwind utilities;

.alegreya-unique {
    font-family: "Alegreya", serif;
    font-weight: 400; /* You can change this to 700 for bold */
    font-style: normal;
}

@font-face {
    font-family: 'BuiltTilting'; /* Custom font name */
    src: url('@/app/components/fonts/bt.otf'); /* Ensure this path is correct for your font file */
    font-weight: bold; /* Consider adding variants; use bold for 700 if applicable */
    font-style: normal; /* Use italic if your font includes an italic variant */
}

/* Additional styles using BuiltTilting */
.built-tilting {
    font-family: 'BuiltTilting', serif;
}